                        @import url('https://fonts.googleapis.com/css?family=Bree+Serif|Monda&display=swap');
                    * {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                    /* body rules */
                    
                    main {
                        padding: 1rem 2%;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-column-gap: 1.5rem;
                        justify-items: center;
                    }
                    
                    body {
                        font-family: 'Monda', sans-serif;
                        font-size: 16px;
                        text-align: justify;
                    }
                    /* header rules */
                    
                    header {
                        background-color: #457B9D;
                        padding: 1rem 2%;
                        font-size: 20px;
                        text-align: center;
                        color: #eee;
                        border-radius: 10px;
                        margin: 10px;
                    }
                    
                    header h1 {
                        font-family: 'Bree Serif', serif;
                        margin: 0;
                    }
                    
                    header h2 {
                        margin: 0;
                    }
                    /* main rules*/
                    
                    h3 {
                        text-align: center;
                        font-family: 'Bree Serif', serif;
                        color: #457B9D;
                        font-size: 1.5em;
                    }
                    
                    main h4 {
                        font-size: 1.25em;
                    }
                    
                    img {
                        max-width: 100%;
                        margin-top: 10px;
                        display: block;
                        border: 4px solid #457B9D;
                        border-radius: 10px;
                    }
                    
                    .column {
                        border: 4px solid #457B9D;
                        border-radius: 10px;
                        width: 100%;
                        margin: 10px 0px;
                        padding: 15px;
                        min-width: 0;
                        max-width: 100%;
                        background-color: antiquewhite;
                        text-align: center;
                    }
                    
                    figcaption {
                        font-size: .75em;
                        padding-top: 1em;
                    }
                    
                    p {
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        text-align: left;
                    }
                    /* footer rules*/
                    
                    footer {
                        background-color: #457B9D;
                        font-family: 'Pacifico', cursive;
                        color: #F1FAEE;
                        text-align: center;
                        padding: 1rem 2%;
                        border-radius: 10px;
                        margin: 10px;