/*----------- BODY --------------*/

header,
nav,
main,
footer {
    max-width: 80rem;
    margin: auto;
}


/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/

.fullWidth {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}


/*----------- HOME PAGE -----------*/


/*----------- FOOTER --------------*/