/*----------- BODY --------------*/


/*----------- HEADER --------------*/

header {
    background: url("/term_project/images/hero1920.jpg");
    background-repeat: no-repeat;
}


/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/

form {
    width: 30vw;
}


/*----------- HOME PAGE -----------*/


/*----------- FOOTER --------------*/