/*----------- HEADER --------------*/

header {
    background: url("/term_project/images/hero1280.jpg");
    background-repeat: no-repeat;
}

header .logo {
    width: 100px;
}


/*----------- NAVIGATION --------------*/

nav {
    padding-left: 2%;
    font-size: 30px;
}

nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav ul li.active a {
    background: transparent;
    color: $color4;
    text-shadow: -.5px -.5px 0 $color3, .5px -.5px 0 $color3, -.5px .5px 0 $color3, .5px .5px 0 $color3;
}

nav ul li a:hover {
    border-radius: 5px 0 5px 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    padding: .6rem 1rem;
}


/*----------- MAIN --------------*/

body {
    max-width: 1920px;
}

main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}

.homePpic {
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 10px;
}

.limit {
    max-width: 1350px;
    margin: auto;
}


/* contact us rules */

.contactGrid {
    display: flex;
    justify-content: space-between;
    div.cnti {
        background-image: radial-gradient($color5, $color3);
        border-radius: 10px;
        padding: 10px 30px 10px 30px;
        border: 1px solid $color4;
        box-shadow: 0px 0px 20px 5px $color4;
        p:nth-child(5) {
            margin-top: 0;
        }
        p:nth-child(7) {
            margin-top: 0;
        }
    }
    div h2,
    h3 {
        margin: 0;
    }
    div iframe {
        width: 50vw;
        max-width: 800px;
        height: 300px;
        border: 1px solid $color4;
        box-shadow: 0px 0px 20px 5px $color4;
    }
}


/* Form rules */

form {
    width: 30vw;
}


/* Activity cards rules */

.cards {
    grid-template-columns: 1fr 1fr 1fr;
}


/*----------- FOOTER --------------*/