/*----------- HEADER --------------*/

header .logo {
    width: 100px;
}

.heroImg {
    padding-bottom: 0;
}


/*----------- NAVIGATION --------------*/

nav {
    padding-left: 2%;
}

nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav ul li.active a {
    background: transparent;
    color: $color4;
    text-shadow: -.5px -.5px 0 $color3, .5px -.5px 0 $color3, -.5px .5px 0 $color3, .5px .5px 0 $color3;
}

nav ul li a:hover {
    border-radius: 5px 0 5px 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    padding: .6rem 1rem;
}


/*----------- MAIN --------------*/

main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}

.homePpic {
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 10px;
}


/* Activity cards rules */

.cards {
    grid-template-columns: 1fr 1fr 1fr;
}


/*----------- FOOTER --------------*/