/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* body rules */

body {
    background: linear-gradient(.25turn, $color1, $color5);
    font-size: 16px;
    font-family: $fontfamily1;
}


/* header rules */

.heroImg {
    opacity: .6;
    display: block;
    margin: 0;
    width: 100%;
    padding-bottom: 2%;
}

.branding {
    position: absolute;
    top: 10px;
    left: 10px;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: transparent;
    color: $color3;
    font-family: $fontfamily2;
    .logo {
        width: 75px;
    }
    .logoNm {
        font-family: $fontfamily3;
        text-shadow: -1px -1px 0 $color5, 1px -1px 0 $color5, -1px 1px 0 $color5, 1px 1px 0 $color5;
        padding-left: 2%;
    }
    .moto {
        color: $color5;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        padding-left: 2%;
    }
}


/* nav rules */

div#navWrapper {
    background: linear-gradient(.25turn, $color1, $color5);
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: $color2;
}

nav {
    background-color: transparent;
    font-family: $fontfamily2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: $color2;
    padding: .8rem 2%;
    text-decoration: none;
}

nav ul li.active a {
    background: linear-gradient($color3, $color5);
}

nav ul li a:hover {
    background: linear-gradient($color3, $color4);
    color: $color2;
}

nav ul.hide {
    display: none;
}


/* main rules */

main {
    padding: 0 2%;
    min-height: 10rem;
    width: 100%;
    margin: 0 auto;
    figure {
        margin: 0;
    }
}

.homePpic {
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.forcast {
    background-image: radial-gradient($color5, $color3);
    border-radius: 10px;
    grid-column-start: 1 / span 1;
    .forcastHeader {
        display: block;
        padding: 2%;
    }
    section#weatherforecast {
        display: grid;
        gap: 7px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: stretch;
        padding: 2%;
    }
}


/* Activity cards rules */

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-items: center;
    box-shadow: 0px 0px 20px 5px $color4;
    padding: 15px;
}

.cards section {
    display: grid;
    padding: 15px;
    background-image: radial-gradient($color5, $color5, $color3);
    border: 1px solid $color4;
}

.cards h2 {
    justify-self: center;
}

.cards img {
    box-shadow: 0px 0px 20px 5px $color4;
    width: 25vw;
    max-width: 360px;
    margin: 10px 0 0 0;
    align-self: end;
    justify-self: center;
}


/* footer rules */

div#footerWrapper {
    background: linear-gradient($color1, $color4);
    margin-top: 10px;
    footer {
        background-color: transparent;
        padding: .5rem 2%;
        text-align: center;
        color: $color2;
        a {
            color: $color5;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        a:hover {
            color: $color2;
        }
    }
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}