            /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
            
            @import url('https://fonts.googleapis.com/css?family=Calistoga|Lalezar|Sorts+Mill+Goudy&display=swap');
            html {
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }
            /*----------- apply a natural box layout model to all elements --------------*/
            
            * {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            /*----------- BODY --------------*/
            
            body {
                font-size: 16px;
                font-family: 'Sorts Mill Goudy', serif;
            }
            /*----------- banner --------------*/
            
            article#banner {
                text-align: center;
                background: radial-gradient( #eaff31, #ff932e);
                padding: 1rem 0;
                color: #333;
                font-family: 'Lalezar', cursive;
            }
            
            article.showme {
                display: block;
            }
            
            article.hideme {
                display: none;
            }
            /*----------- HEADER --------------*/
            
            div#headerWrapper {
                background-image: linear-gradient( #c2a83e, #e0eec6);
            }
            
            header {
                display: flex;
                align-items: center;
                align-content: center;
                padding: .5rem 2%;
                background-color: transparent;
                color: #656565;
                font-family: 'Calistoga', cursive;
            }
            
            header img {
                margin-right: 10px;
                width: 80px;
            }
            
            header h1 {
                margin: 0;
                font-size: 1.3rem;
                margin: auto;
            }
            
            header h2 {
                margin: 0;
                font-weight: normal;
                font-size: 1rem;
                margin: auto;
            }
            /*----------- NAVIGATION --------------*/
            
            div#navWrapper {
                background: linear-gradient( #e0eec6, #a6d3a0);
            }
            
            nav button {
                margin: .2rem 2%;
                background-color: transparent;
                border: none;
                font-size: 1.6rem;
                color: #656565;
            }
            
            nav {
                background-color: transparent;
                font-family: 'Lalezar', cursive;
            }
            
            nav ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            
            nav ul li a {
                display: block;
                color: #656565;
                padding: .8rem 2%;
                text-decoration: none;
                border-top: 1px solid rgba(0, 0, 0, 0.8);
            }
            
            nav ul li a:hover {
                /*background-color: #c1f28c;*/
                background: linear-gradient(#c1f28c, #c2a83e);
                color: #333;
            }
            
            nav ul li.active a {
                background: linear-gradient(#e0eec6, #c2a83e);
            }
            
            nav ul.hide {
                display: none;
            }
            /*----------- MAIN --------------*/
            
            main {
                padding: 0 2%;
                min-height: 10rem;
            }
            
            main h1 {
                background: -webkit-linear-gradient(#c2a83e, #656565, #c2a83e);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Calistoga', cursive;
            }
            
            main h2 {
                background: radial-gradient( #e0eec6, #a6d3a0, #e0eec6, #a6d3a0);
                color: #656565;
                font-family: 'Calistoga', cursive;
            }
            
            main h3 {
                color: #656565;
                padding: .5em 0 .5em 0;
                font-family: 'Calistoga', cursive;
            }
            
            main img {
                display: block;
                margin: 0;
                width: 100%;
            }
            
            .fullWidth {
                width: 100vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
            
            .stats {
                position: absolute;
                top: 10px;
                left: 10px;
                background: radial-gradient(#e0eec6, #a6d3a0);
                border: 1px solid #c2a83e;
                border-radius: 10px;
                padding: 1.5rem;
                box-shadow: 0 0 30px #656565;
                opacity: .8;
                font-size: .8em;
            }
            
            .stats h3 {
                margin: 0 0 1em 0;
                padding: 0;
            }
            
            .stats p {
                margin: 0;
            }
            
            .forcastHeader {
                display: none;
            }
            
            section#weatherforecast {
                display: none;
            }
            
            section#weatherforecast div {
                border: 2px solid #a6d3a0;
                border-radius: 5px;
                padding: 1em;
                text-align: center;
                background: linear-gradient(125deg, #e0eec6, #a6d3a0);
            }
            
            section#weatherforecast div span {
                font-family: 'Calistoga', cursive;
                color: #656565;
            }
            
            .contactUs {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            
            .contactUs div h3 {
                margin-bottom: 0;
            }
            
            main div.box div.contactUs section h3 {
                margin-bottom: 0;
            }
            
            main div.box div.contactUs section p {
                margin-top: 0;
            }
            
            main div.box div.imgBx {
                display: none;
            }
            /*----------- Form ---------------*/
            
            form fieldset {
                margin: 2rem 0;
                border: 1px solid #a6d3a0;
                border-radius: 10px;
                padding: .5rem 2%;
            }
            
            form legend {
                color: #656;
                margin: 0 1rem;
                padding: 0 .5rem;
            }
            
            form label.top,
            form div {
                display: block;
                padding-top: 1rem;
                color: #656;
                font-size: .8rem;
            }
            
            form label.top input,
            form label.top select,
            form label.top textarea {
                -webkit-appearance: none;
                display: block;
                font-size: 1rem;
                border: 1px solid #a6d3a0;
                border-radius: 4px;
                padding: .75rem;
                color: #555;
                width: 100%;
                max-width: 20rem;
                background-color: rgba(0, 0, 0, 0.1);
            }
            
            form label.dng {
                display: block;
                padding: .75rem 0;
                color: #555;
            }
            
            form input.submitBtn {
                border: none;
                background-image: linear-gradient(to bottom right, #c2a83e 30%, #656565);
                color: white;
                border-radius: 1rem;
                padding: .75rem 1.5rem;
                margin: 0 0 2rem 2%;
                width: 96%;
                max-width: 20rem;
            }
            
            form label.slider {
                color: #555;
            }
            
            form label.top input:required {
                border-left: #9c2c13 solid 6px;
            }
            
            form label.top input:required:valid {
                border-left: #a6d3a0 solid 6px;
            }
            
            form label.txtArea {
                padding: 0;
            }
            /*----------- Gallery Page --------*/
            
            div.gallery {
                display: grid;
                column-gap: 10px;
                row-gap: 10px;
            }
            
            div.gallery figure {
                border-style: outset;
                border-color: #a6d3a0;
                border-width: 7px;
                border-radius: 10px 10px 10px 10px;
                margin: 2px;
            }
            
            div.gallery figure figcaption {
                text-align: center;
                background: linear-gradient(#e0eec6, #c2a83e);
                padding: 3px 0px 0px 2px;
            }
            /*----------- HOME PAGE -----------*/
            
            div.cards {
                display: grid;
                row-gap: 5px;
                justify-content: center;
                align-content: center;
                margin: 0 auto;
            }
            
            div.cards section {
                display: block;
                text-align: center;
                background: linear-gradient(36deg, rgba(224, 238, 198, 1) 0%, rgba(194, 168, 62, 1) 48%, rgba(166, 211, 160, 1) 100%);
                margin: 5px 0;
                box-shadow: 0 0 30px #c2a83e;
            }
            
            div.cards section h2 {
                background: none;
            }
            
            div.cards section p {
                padding: 5px;
            }
            
            div.cards section p:nth-child(2) {
                font-style: italic;
            }
            /*----------- FOOTER --------------*/
            
            div#footerWrapper {
                background: linear-gradient(#e0eec6, #c2a83e);
                margin-top: 10px;
            }
            
            footer {
                background-color: transparent;
                padding: .5rem 2%;
                text-align: center;
                color: #656565;
            }
            /*----- Clearfix: Force an Element not to collapse -----*/
            
            .clearfix:after {
                content: "";
                display: table;
                clear: both;
            }