body {
    text-align: center;
}

picture img {
    filter: blur(0.3em);
}

picture img[data-src] {
    filter: blur(0em);
    transition: filter 0.5s;
}

.lzgrid {
    display: grid;
    text-align: center;
}