//  variables
// colors
$color1: #0e79b2;
$color2: #fcfcfc;
$color3: #00171f;
$color4: #003459;
$color5: #00a8e8;
// fonts
$fontfamily1: 'Oswald',
sans-serif;
$fontfamily2: 'Rakkas',
cursive;
$fontfamily3: 'Rock Salt',
cursive;