/* 64em is also 1028px (if basefont is 16px) */

@media only screen and (min-width: 64rem) {
    /*----------- BODY --------------*/
    header,
    nav,
    main,
    footer {
        max-width: 64rem;
        margin: auto;
    }
    /*----------- HEADER --------------*/
    /*----------- NAVIGATION --------------*/
    /*----------- MAIN --------------*/
    .fullWidth {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    /*----------- FOOTER --------------*/
}


/* end of media query */