/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/

header {
    padding: .5rem 2%;
    background-color: #c2a83e;
    color: #656565;
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
}


/*----------- NAVIGATION --------------*/

nav {
    background-color: #A6D3A0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #656565;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #c1f28c;
    color: #333;
}

nav ul li.active a {
    background-color: #e0eec6;
    color: #656565;
}


/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;
    text-align: center;
}

main h1 {
    color: #c2a83e;
}

main h2 {
    color: #656565;
}

main h3 {
    background-color: #A6D3A0;
    color: #656565;
    padding: .5em 0 .5em 0;
}

main img {
    display: block;
    margin: auto;
    width: 75%;
}

.personaimg {
    float: left;
    max-width: 200px;
    padding: 10px;
}


/*----------- FOOTER --------------*/

footer {
    background-color: #c2a83e;
    padding: .5rem 2%;
    text-align: center;
    color: #656565;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}